<body>
    <div class="flex flex-wrap">
        <!-- Sidebar -->
        <div class="w-64 h-screen p-4 fixed mt-20 hidden lg:block shadow">
            <h2 class="text-lg font-bold mb-4">Menu</h2>
            <ul class="space-y-2">
                <li><a (click)="showView('page')" class="hover:text-gray-400">Page</a></li>
                <li><a (click)="showView('profil')" class="hover:text-gray-400">Profil</a></li>
            </ul>
        </div>
    
        <!-- Main Content -->
        <div class="w-full lg:ml-64 lg:mr-64 max-w-full flex-1">
            <p-menubar [model]="items" class="fixed left-0 w-full shadow">
                <ng-template let-item pTemplate="item">
                    <a class="text-2xl" (click)="item.label === 'Acceuil' ? onHomeClick() : (item.label === 'Déconnecter' ? onLogoutClick() : null)">
                        <i [class]="item.icon" class="pi text-2xl"></i> {{ item.label }}
                    </a>
                </ng-template>
            </p-menubar>            
            <app-page *ngIf="currentView === 'page'"></app-page>
            <app-profil *ngIf="currentView === 'profil'"></app-profil>
        </div>

        <!-- Sidebar de droite -->
        <div class="w-full lg:w-64 mt-20 lg:h-screen lg:fixed top-0 right-0 p-4 lg:block hidden shadow">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam porro rem beatae aut unde quaerat ipsa, eveniet eum dolorem culpa, exercitationem consectetur, quis aperiam pariatur praesentium quia ad laboriosam tempora.</p>
        </div>
    </div>        
</body>
